<%= form_with(model: transaction) do |form| %>
  <% if transaction.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(transaction.errors.count, "error") %> prohibited this transaction from being saved:</h2>

      <ul>
        <% transaction.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :transacted_at, style: "display: block" %>
    <%= form.datetime_select :transacted_at %>
  </div>

  <div>
    <%= form.label :category_id, style: "display: block" %>
    <%= form.text_field :category_id %>
  </div>

  <div>
    <%= form.label :src_account_id, "Source Account" , style: "display: block" %>
    <%= form.select :src_account_id, current_user.accounts.sourceable.collect { |a| [a.name, a.id] } %>
  </div>

  <div>
    <%= form.label :dest_account_id, "Destination Account", style: "display: block" %>
    <%= form.select :dest_account_id, current_user.accounts.destinable.collect { |a| [a.name, a.id] } %>
  </div>

  <div>
    <%= form.label :description, style: "display: block" %>
    <%= form.text_field :description %>
  </div>

  <div>
    <%= form.label :amount_minor, style: "display: block" %>
    <%= form.text_field :amount_minor %>
  </div>

  <div>
    <%= form.label :currency_id, style: "display: block" %>
    <%= form.select :currency_id, Currency.all.collect { |c| [c.code, c.id] } %>
  </div>

  <div>
    <%= form.label :fx_amount_minor, style: "display: block" %>
    <%= form.text_field :fx_amount_minor %>
  </div>

  <div>
    <%= form.label :fx_currency_id, style: "display: block" %>
    <%= form.select :fx_currency_id, Currency.all.collect { |c| [c.code, c.id] }, include_blank: true %>
  </div>

  <div>
    <%= form.label :notes, style: "display: block" %>
    <%= form.text_area :notes %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
